* {
  box-sizing: border-box;
  font-family: "piratefont";
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../assets/pirate-background.jpg);
  background-size: cover;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  background-image: url(../assets/PngItem_187435.png);
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  width: 500px;
  min-height: 90px;
  margin: 5px 0px;
  text-shadow: 2px 2px #888888;
}
#center-text{
  font-size: 20px;
  color: white;
  padding: 0px 5px;
  line-height: 10px;
  font-style: italic;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* background-color: blue; */
}

intro{
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 500px;
  /* background-color: rgba(145, 141, 132, 0.5); */
  background: radial-gradient(circle, rgba(230,201,16,1) 0%, rgba(140,104,9,0.7525385154061625) 85%);

  background-image: url(../assets/NicePng_jack-swagger-png_7676125.png);
  background-size: cover;
  width: 55%;
  margin-top: 50px;
  padding: 5px;
  text-align: left;
}

intro-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 25px;
}

p{
  /* background-color: rgba(238, 166, 11, 0.5); */

  font-size: 25px;
  color: brown;
  padding: 25px;
}

#intro-text{
  background: radial-gradient(circle, rgba(230,201,16,1) 0%, rgba(140,104,9,0.7525385154061625) 85%);

}

#name-input{
  height: 55px;
  font-size: 30px;
  letter-spacing: 4px;
  text-justify: center;
}

#name-submit{
  font-family: "piratefont";
  margin-top: 25px;
  height: 55px;
  font-size: 20px;
  letter-spacing: 4px;
  text-justify: center;
  background: radial-gradient(circle, rgba(230,16,16,1) 0%, rgba(140,25,9,1) 85%);
  color: white;
  text-shadow: 2px 2px #493232;
  border: none
}

#name-submit:hover {
  box-shadow: 0px 0px 10px #888888;
	transition:all 0.3s ease-in-out;
}


#name-submit:focus{
  outline:0;
}


button{
  height: 40px;
  width: 75px;
  

}

instructions{
  display: none;
  flex-direction: column;
  width: 350px;
  height: 90%;
  background: radial-gradient(circle, rgba(230,201,16,1) 0%, rgba(140,104,9,0.7525385154061625) 85%);
  margin-top: 30px;
  margin-left: 30px;

  /* background-color: green; */
}

sub-instructions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height:100%;
  background-color: none;
  /* background-color: rgba(238, 166, 11, 0.5); */

}


#instructions{
  font-size: 20px;
  color: black;
}

#jack-headshot{
  height:80%;
  width: 50%;
  background-image: url(../assets/Jack-headshot.png);
  background-repeat: no-repeat;
  background-size: cover;
}
  
  .start-btn{

  background: radial-gradient(circle, rgba(230,16,16,1) 0%, rgba(140,25,9,1) 85%);
  text-shadow: 2px 2px #493232;
  color: white;
  font-size: 25px;
  width: 100px;
  height: 75px;
  border: none;
}

.start-btn:hover {
  box-shadow: 0px 0px 14px #1d1c1c;
	transition:all 0.3s ease-in-out;
}

.start-btn:focus{
  outline:0;
}

barbossa{
  display:none;
  width: 350px;
  height: 100%;
  /* background-color: green; */
}


grids{
display: none;
flex-direction: row;
justify-content: center;
align-items: center;
color: none;
font-size: 0px;
width: auto;
}

gamebuttons{
  display: none;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-image: url(../assets/abstract-ancient-antique-art-235985.jpg);
  width: 750px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

ship-selector{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 50%;
  width: 250px;
  }

.ship-selector{
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 25px;
  width: 200px;
  height: 36px;
  border: none;
  color: black;
}

.ship-selector:hover{
  color: #684b4b;
  transition:all 0.3s ease-in-out;
}

.ship-selector:focus{
  background: radial-gradient(circle, #684b4b 0%, #4d3232 85%);

  color: white;
  transition:all 0.3s ease-in-out;
  outline:0;
}

.ship-move-btn{
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 25px;
  border: none;
  color: black;
}

.ship-move-btn:hover{
color: #684b4b;
transition:all 0.3s ease-in-out;
}

.ship-move-btn:focus{
  outline:0;
}

movement-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
background-size: contain;
background-repeat: no-repeat;
flex-direction: row;
}

direction-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:250px;
}

central-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  background-size: 25%;
  width: 100%;
  height: 50%;
}

#compass{
  display:flex;
}

confirm-btn{
  display:flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  height: 100%;
  width: 250px;
}
#confirm-btn{
  background: radial-gradient(circle, rgba(230,16,16,1) 0%, rgba(140,25,9,1) 85%);
  color: white;
  text-shadow: 2px 2px #493232;
  width: 150px;
  border: none;
  font-size: 25px;
}
#confirm-btn:hover {
  box-shadow: 0px 0px 14px #1d1c1c;
	transition:all 0.2s ease-in-out;
}

#confirm-btn:focus{
  outline:0;
}

.player-grid-wrapper {
  height: 440px;
  display: flex;
  justify-content: center;
}

.player-grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-image: url(../assets/Blue-sea.-View-from-above-18796.jpg);
  margin: 30px;
}

.player-grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.player-grid div.ship {
  background-color: darkgray;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.player-grid div.tempshot {
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.player-grid div.hit {
  /* background-color: red; */
  background-image: url(../assets/explosion.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.player-grid div.miss {
  background-color: rgba(255,255,255,0.4);
  background-image: url(../assets/UIHere.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.player-grid div.sunk {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid-wrapper {
  display: none;
  height: 440px;
  justify-content: center;
}

.grid {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-image: url(../assets/abstract-ancient-antique-art-235985.jpg);
  background-size: cover;
  margin: 30px;
}

.grid div {
  border: 1px solid darkgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.ship {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.tempship {
  background-color: green;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.hit {
  background-image: url(../assets/explosion.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.sunk {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.miss {
  background-color: rgba(255,255,255,0.4);
  background-image: url(../assets/UIHere.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

#taunts{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 75%;
  height: 150px;
  background-color: rgba(255,255,255,0.4);
}

jack-sparrow-head{
height: 80%;
background-image: url(../assets/Jack-headshot.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 25%;
}

barbossa-head{
  height: 80%;
  background-image: url(../assets/Captain_Barbossa_headshot.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  }

taunt-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
taunt-text{
  display: none;
  background-color: black;
  color:white;
  height: auto;
  text-align: center;
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}

#player-lost{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin-top: 20px;
}

#player-won{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 20px;
}

h2{
  font-size: 50px;

 color: red; 
 text-shadow: 2px 2px #493232;
margin: 10px;
}


.reset-button{
  background: radial-gradient(circle, rgba(230,16,16,1) 0%, rgba(140,25,9,1) 85%);
  color: white;
  text-shadow: 2px 2px #da5d5d;
  width: 300px;
  height: 75px;
  border: none;
  font-size: 25px;
  margin: 25px;
}
.reset-button:hover {
  box-shadow: 0px 0px 14px #1d1c1c;
	transition:all 0.2s ease-in-out;
}

.reset-button:focus{
  outline:0;
}



