* {
  box-sizing: border-box;
  font-family: "piratefont";
  margin: 0;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(../assets/pirate-background.jpg);
  background-size: cover;
  margin: 0;
}
h1{
  text-justify: center;
  text-align: center;
  font-size: 35px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* background-color: blue; */
}

intro{
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 500px;
  background-color: rgba(145, 141, 132, 0.5);
  background-image: url(../assets/NicePng_jack-swagger-png_7676125.png);
  background-size: cover;
  width: 75%;
  text-align: left;
}

intro-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 25px;
}

p{
  background-color: rgba(238, 166, 11, 0.5);
  font-size: 25px;
  color: brown;
  padding: 25px;
}

#name-input{
  height: 55px;
  font-size: 30px;
  letter-spacing: 4px;
  text-justify: center;
}

#name-submit{
  font-family: "piratefont";
  margin-top: 25px;
  height: 55px;
  font-size: 20px;
  letter-spacing: 4px;
  text-justify: center;
  background-color: red;
  color: white;
  border: none
}

button{
  height: 40px;
  width: 75px;
}

instructions{
  display: none;
  flex-direction: column;
  width: 350px;
  height: 90%%;
  /* background-color: green; */
}

sub-instructions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height:100%;
  background-color: rgba(238, 166, 11, 0.5);

}


#instructions{
  font-size: 20px;
  color: black;
}

#jack-headshot{
  height:70%;
  width: 50%;
  background-image: url(../assets/Jack-headshot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.start-btn{
  background-color: red;
  color: white;
  font-size: 25px;
  width: auto;
  border: none;
}

barbossa{
  display:none;
  width: 350px;
  height: 100%;
  /* background-color: green; */
}


grids{
display: none;
flex-direction: row;
justify-content: center;
align-items: center;
color: none;
font-size: 0px;
width: auto;
}

gamebuttons{
  display: none;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-image: url(../assets/abstract-ancient-antique-art-235985.jpg);
  width: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 25px;
}

ship-selector{
/* flex-wrap: wrap; */
  flex-direction: column;
justify-content: center;
align-content: space-around;
  /* background-color: blue; */
  width: 50%;
  }

  .ship-selector{
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 25px;
    width: 250px;
    border: none;
    color: black;
  }


.ship-move-btn{
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 25px;
  border: none;
  color: black;
}

movement-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
background-size: contain;
background-repeat: no-repeat;
flex-direction: row;
}

direction-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:250px;
}

central-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  background-size: 25%;
  width: 100%;
  height: 50%;
}

#compass{
  display:flex;
}

confirm-btn{
  display:flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  height: 100%;
  width: 250px;
}
#confirm-btn{
  background-color: red;
  color: white;
  width: 150px;
  border: none;
  font-size: 25px;
}



.player-grid-wrapper {
  height: 440px;
  display: flex;
  justify-content: center;
}

.player-grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
background-image: url(../assets/Blue-sea.-View-from-above-18796.jpg);
margin: 0px 20px;
}

.player-grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.player-grid div.ship {
  background-color: darkgray;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.player-grid div.tempshot {
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.player-grid div.hit {
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.player-grid div.miss {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.player-grid div.sunk {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


.grid-wrapper {
  height: 440px;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-image: url(../assets/abstract-ancient-antique-art-235985.jpg);
  background-size: cover;
  margin: 0px 20px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}



.grid div.ship {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.hit {
  background-color: orange;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.sunk {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.grid div.miss {
  background-color: pink;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}







